{% load static %}}
<link href="{% static 'css/style2.css' %}" rel="stylesheet" />
<a href={% url "logout" %}>logout</a>
    
    {% for item in contact %}
    <div class="card">
        <div class="header">
          <p class="alert">{{item.name}}</p>
        </div>
      
        <p class="message">
            {{item.message}}
        </p>
      
        <div class="actions">
          <a class="read" href="">
            Take a Look
          </a>
      
          <a class="mark-as-read" href="">
            Mark as Read
          </a>
        </div>
      </div>
      
        <tr>
            <td></td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td></td>
        </tr>
    {% endfor %}


