{% extends 'basefr.html' %}
<!DOCTYPE html>
<html lang="en">
    {% load static %}
    	
	<body>
	
    {% block title %}
        Resume
    {% endblock %}		
    {% block content %}	
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                    
                            </div>
                            <!-- Experience Card 1-->
                            
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">2017 - 2019</div>
                                                <div class="small fw-bolder">SEM Specialist</div>
                                                <div class="small text-muted">Wayne Enterprises</div>
                                                <div class="small text-muted">Gotham City, NY</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Education Section-->
                        
                        <section>
                            <!-- Education Card 1-->
                            <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2019 - 2022</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Universitée des sciences et de la technologie</div>
                                                    <div class="small text-muted">Alger, Algerie</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">License</div>
                                                    <div class="small text-muted">ingénierie des systèmes d'information et des logiciels </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div> 
                                            J'ai appris la programmation orientée objet en Java, SQL/PLSQL, le cycle de vie du développement logiciel et la résolution de problèmes. De plus, j'ai travaillé sur des projets comprenant un système de gestion de base de données pour une clinique de santé et une application web enseignant-étudiants utilisant Django.
                                        </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2022 - 2023</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Universitée des sciences et de la technologie</div>
                                                    <div class="small text-muted">Alger, Algerie</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Master</div>
                                                    <div class="small text-muted">Ingénierie logiciel</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div> 
                                            Contribué au développement d'un nouveau compilateur de langage de programmation, y compris la conception, la mise en œuvre et les tests. Aide à la gestion de projet, à la planification, à l'allocation des ressources et au suivi des progrès. Compréhension approfondie des algorithmes et de la complexité computationnelle. Familier avec les concepts de sécurité logicielle. Collaboration à l'intégration d'algorithmes d'apprentissage automatique dans des applications logicielles avec une équipe de recherche en intelligence artificielle.
                                        </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2023 - 2025</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Institut Grasset</div>
                                                    <div class="small text-muted">Montreal, QC</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">DEC</div>
                                                    <div class="small text-muted">Programmation des nouveaux medias</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div> 
                                            Je maîtrise JavaScript, Python et C++. J'ai de l'expérience avec React pour le développement web, ainsi que pour le développement d'applications mobiles pour iOS et Android. Je suis compétent en production multimédia et en conception UX/UI, avec de solides capacités de résolution de problèmes et de travail d'équipe.
                                        </div>
                                </div>
                            </div>
                        </section>
                        <!-- Divider-->
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Compétences technologiques</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Django framework</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Oracle SGBD</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Ms project</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Cisco packet tracer</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Adobe Photoshop</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">React.js</div></div>
                                        </div>
                                    </div>
                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages de programmation</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C++</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML CSS </div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL/PLSQL</div></div>
                                        </div>
                                        <br>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                    </div>
                </div>
            </div>
        </main>
        {% endblock %}
    </body>
</html>
